<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<!--
`em-player`
Video Player Demo. Accepts an array of objects which contain `name` and `url`
keys and plays them using an HTML5 video element. Users can skip to the next
video using the custom controls and select a video of their choice with the
playlist dropdown.

@demo demo/index.html
-->

<dom-module id="em-player">
  <template>
    <style>
      :host {
        position: relative;
        height: 100%;
        width: 100%;
      }
      main {
        min-width: 360px;
        min-height: 300px;
      }
      #controls {
        display: flex;
        background: rgba(255,255,255,0.75);
        position: absolute;
        top: 0;
        left: 0;
      }
      video {
        width: 100%;
      }
      paper-menu-button {
        padding: 0;
      }
    </style>

    <iron-iconset-svg name="icons" size="24">
      <svg>
        <defs>
          <g id="play">
            <path d="M8 5v14l11-7z"/><path d="M0 0h24v24H0z" fill="none"/>
          </g>
          <g id="pause">
            <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/><path d="M0 0h24v24H0z" fill="none"/>
          </g>
          <g id="menu">
            <path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </g>
          <g id="next">
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/><path d="M0 0h24v24H0z" fill="none"/>
          </g>
        </defs>
      </svg>
    </iron-iconset-svg>

    <main>
      <video id="video"
          src="[[_currentClip.url]]"
          on-pause="pause"
          on-play="play"
          controls
      ></video>
      <section id="controls">
        <paper-icon-button icon="next" on-tap="next">Next</paper-icon-button>
        <paper-menu-button>
          <paper-icon-button icon="menu" class="dropdown-trigger">
            Playlist
          </paper-icon-button>
          <paper-menu class="dropdown-content"
              items="[[clips]]"
              selected="{{_selectedClip}}"
              fallback-selection="0">
            <template is="dom-repeat" items="[[clips]]" as="clip">
              <paper-item clip="[[clip]]">[[clip.name]]</paper-item>
            </template>
          </paper-menu>
        </paper-menu-button>
        <paper-icon-button
            icon="[[_playPause(_playing)]]"
            toggles active="{{_playing}}">
          [[_playPause(_playing)]]
        </paper-icon-button>
      </section>

    </main>

  </template>

  <script>
    Polymer({

      is: 'em-player',

      properties: {
        /**
         * Array of clips to play. Example:
         * `[{name:"One Clip",url:"http://domain.com/oneclip.mp4"}]`
         */
        clips: {
          type: Array
        },
        /**
         * Whether or not the player is playing
         * @type {Object}
         */
        _playing: {
          type: Boolean,
          value: false,
          observer: '_playingChanged'
        },
        /**
         * Currently selected clip
         * @type {Object}
         */
        _currentClip: {
          type: Object,
          notify: true
        },
        /**
         * Array index of the selected clip
         * @type {Number}
         */
        _selectedClip: {
          type: Number,
          value: 0
        }
      },

      observers: [
        '_clipsChanged(clips, clips.*)',
        '_onSelectedClipChanged(_selectedClip)'
      ],
      /**
       * Pause Playing
       */
      pause: function (event) {
        this._playing = false;
      },
      /**
       * Play clip
       */
      play: function (event) {
        this._playing = true;
      },
      /**
       * Switch to next clip then pause
       */
      next: function (event) {
        if (this._selectedClip == this.clips.length) {
          this._selectedClip = 0;
        } else this._selectedClip++;
      },
      /**
       * Play or pause video element when component `playing` state changes
       * @param  {Boolean} nv New value
       * @param  {Boolean} ov Old value
       * @return {Function}    play or pause func
       */
      _playingChanged: function (nv, ov) {
        switch (nv) {
          case true:
            return this.$.video.play();
          case false:
            return this.$.video.pause();
        }
      },
      /**
       * Populate current clip when clips is initialized
       * @param  {Array} clips Array of clips
       */
      _clipsChanged: function (clips) {
        if (clips && clips.length) {
          this.set('_currentClip', clips[0]);
        }
      },

      /**
       * Set current clip when clip is selected
       * @param  {Number} _selectedClip Index of clips array for selected clip
       */
      _onSelectedClipChanged: function (_selectedClip) {
        if (this.clips) {
          this.set('_currentClip', this.clips[_selectedClip]);
          this.pause();
        }
      },

      /**
       * Define text for play/pause button based on state
       * @return {String} Button text
       */
      _playPause: function () {
        return this._playing ? "pause" : "play";
      }
    });
  </script>
</dom-module>
