<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>em-player demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-ajax/iron-ajax.html">
    <link rel="import" href="../em-player.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic em-player demo</h3>
      <demo-snippet>
        <template is="dom-bind">
          <iron-ajax auto url="clips.json" handle-as="json" last-response="{{clips}}"></iron-ajax>
          <em-player clips="[[clips]]"></em-player>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
